* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}
body {
  text-align: center;
}
svg #leye , #reye {
  animation: shake 2.5s cubic-bezier(.36,.07,.19,.97) both infinite;
}

svg #bowtie {
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  animation: dash 1s linear forwards infinite;
 }

 svg #wbody {
  stroke-dasharray: 500;
  stroke-dashoffset: 500;
  animation: dash 1s linear forwards infinite;
 }
 /* @keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
 } */

 svg #tail {
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both infinite;
 }

 @keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
 }

 @keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}